body {
	background: #B27A12;
	color: #2e2e2e;
	margin: 0;
	padding: 80px;
	font: 400% "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 115%;
}

h1 {
	font-size: 100%;
	border-bottom: 5px solid;
}

a {
	color: #19FF84;
	text-decoration: none;
}