body {
	color: #2e2e2e;
	margin: 0;
<<<<<<< HEAD
	padding: 80px;
	font: 400% "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 115%;
}

h1 {
	font-size: 300%;
=======
	font-family: Avenir, Arial, sans-serif;
	font-size: 14pt;
	padding: 3%;
	background: url(../reptile.jpg);
}

h1 {
	font-size: 24pt;
	margin-bottom: -10px;
>>>>>>> Updated-Splash
}

a {
	color: #2e2e2e;
	text-decoration: none;
	border-bottom: 3px solid #D8D8D8;
	line-height: 18px;
	margin:-10px 0;
	display: inline-block;
}

#header {
	
float: left;
position:  fixed;
padding: 5px 10px 10px 20px;
width: 320px;
background: rgba(255, 255, 255, 1);
box-shadow: 0px 0px 20px rgba(0, 0, 0, .4);
}